:root {

    --color-white: #FFF;
    --color-dark: #0D0D0D;
    --color-base: #AFCACD;
    --color-primary: #BD36BF;
    --color-primary-darker: #6b1d63;
    --color-secondary: #F2CF66;
  
    --main-font: "Baloo Bhai 2",Arial, Helvetica, sans-serif;
    --heading-font: "Baloo Bhai 2",Arial, Helvetica, sans-serif;
  
    --fs-base: 1rem;
    --fs-heading: 1.55rem;
    --fs-paragraph: 0.75rem;
  
    --fw-base: 400;
    --fw-bold: 700;
    --fw-black: 900;
  
    --padding-s: 1rem;
    --padding-m: 1.5rem;
    --padding-l: 2rem;
    --padding-xl: 3rem;
  }